@media ( max-width : 480px ) {

  footer {
    position: fixed;
  }

  .btn-start {
    background-color: #fcc436;
    border-radius: 10px;
    bottom: 0;
    color: #41197f;
    font-size: 20px;
    font-weight: 800;
    height: 50px;
    position: fixed;
    right: 0;
    width: 100%;
  }

  .carousel {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 50px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .image-recomendation {
    height: 175px;
    object-fit: cover;
    scroll-snap-align: start;
    width: 175px;
  }

  .img-detail {
    height: 100vw;
    width: 100vw;
  }

  .container-btns-share {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 87vw;
    width: 100vw;
  }

  .title-recipe {
    color: black;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 10px;
    text-align: left;
  }

  .title-category-recipe {
    color: black;
    font-family: fantasy;
    font-size: 15px;
    margin-top: 3px;
    padding-left: 20px;
    text-align: left;
  }

  ul li {
    padding: 3px;
  }

  h3 {
    font-size: 20px;
    padding-left: 10px;
  }

  p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
  }

  iframe {
    width: 100vw;
  }

  .card-recomendation {
    border-radius: 5px;
    box-shadow: #41197f 0.01px 5px;
  }

  .card-recomendation p {
    text-align: center;
  }
}
