.done-recipes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 640px;
    /* left: 0px;
    top: 0px; */
    background: #E5E5E5;
}

.done-recipes-image {
    width: 163.35px;
    height: 134.85px;
    left: 19px;
    top: 317;
    border-radius: 5px;
}

.done-recipes-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 130%; */
    /* height: 80px; */
    background: #FFFFFF;
}

.done-recipes-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 135px;
    left: 19px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
}

.done-recipes-category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    left: 19px;
    top: 317;
}

.done-recipes-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1px;
    color: #333333;
}

.done-recipes-category {
    width: 200px;
    height: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #333333;
}

.done-recipes-date {
    width: 200px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #333333;
}

.done-recipes-tag {
    width: 200px;
    height: 18px;
    left: 19px;
    top: 317;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1px;
    color: #333333;
}

.share-btn {
    /* width: 24px; */
    /* height: 24px; */
    /* left: 19px;
    top: 317; */
    background: #FFFFFF;
    border: 0.517989px solid #B1B1B1;
    border-radius: 5px;
}
