@media ( max-width : 480px ) {

  .login {
    align-items: center;
    background-color: #fffffff8;
    border: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .logo-recipes {
    margin-bottom: 20px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 20px;
  }

  .tomate-img {
    height: 300px;
    left: 0%;
    position: absolute;
    top: 25%;
    width: 300px;
  }

  .background-login {
    background: #41197f;
    height: 322px;
    left: 0.01px;
    position: absolute;
    top: 0.01px;
    width: 100vw;
  }

  .email-input {
    border: solid 1px #41197f;
    border-radius: 5px;
    font-size: medium;
    height: 40px;
    padding-left: 5px;
    width: 80vw;
  }

  .pass-input {
    border: solid 1px #41197f;
    border-radius: 5px;
    font-size: medium;
    height: 40px;
    padding-left: 5px;
    width: 80vw;
  }

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: absolute;
    top: 65%;
  }

  .btn-submit {
    background-color: #fcc436;
    border-radius: 5px;
    color: #41197f;
    font-size: medium;
    font-weight: 800;
    padding: 7px;
    width: 83vw;
  }

  h1 {
    color: #41197f;
    margin: 0;
    padding: 0;
  }

}

