@media ( max-width : 480px ) {

  .container-btns {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 7px;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
  }

  .btn-category {
    background-color: #fcc436;
    border: none;
    border-radius: 5px;
    color: #41197f;
    font-size: 1rem;
    font-weight: 800;
    padding: 15px;
  }

  .recipes-container {
    display: flex;
    flex-flow: wrap;
    gap: 15px;
    justify-content: center;
  }

  .card-recipe {
    border-radius: 5px;
    box-shadow: #41197f 0.01px 5px 15px;
    text-align: center;
  }

  .title-recipe {
    color: #41197f;
    text-decoration: none;
    width: 150px;
  }

  .recipe-img {
    border-radius: 5px;
    height: 150px;
    width: 150px;
  }
}
